.navbar-brand {
  margin-left: 50px;
}

.nav-item {
  justify-items: right !important;
}
#navbarNav {
  justify-content: right;
  width: 100%;
}
.bg-light {
  background-color: black !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: purple;
  animation-name: flavour;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes flavour {
  0% {
    color: white;
  }
  50% {
    color: purple;
  }
  100% {
    color: white;
  }
}

body {
  background-color: black;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  width: 100% !important;
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 30px;
  }
  .rounded {
    height: 320px !important;
  }

  body {
    overflow-x: hidden;
  }
  .fit {
    object-fit: cover;
    width: 300px;
  }
  .description {
    width: 200px;
  }
  #testimonialQuote {
    object-fit: cover;
  }
}

.rounded {
  width: 500px;
  height: 500px;
  border-radius: 100% !important;
}
.col {
  text-align: left;
  font-weight: 400 !important;
  font-size: x-large !important;
  color: white;
  width: 100%;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}
#landing {
  background-color: black;
  padding-top: 50px;
  width: 100%;
}
.nav-item:hover {
  color: salmon;
}
nav {
  position: sticky !important;
  top: 0%;
  width: 100%;
  z-index: 5;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.description {
  color: white;
  font-size: 30px;
}
#WE {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.Circle {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  object-fit: cover;
}
.work {
  border-right: white 5px solid;
}

ul.testimonial-thumb-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  max-width: 510 px;
  margin: 0 px auto;
  margin-bottom: -30 px;
  outline: none;
  border: 0 none;
}
button {
  padding: 0%;
  margin: 5px;
}
#skill {
  background-color: rgba(255, 255, 255, 0.18);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.card {
  background: rgba(0, 0, 0, 0.72);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: transparent 3px solid;
}

#About {
  background-color: rgb(38, 37, 37);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0%;
}
.test {
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar-light .navbar-toggler-icon {
  background-image: url(https://www.pngkey.com/png/full/332-3321462_mobile-menu-for-barefoot-resort-vacations-hamburger-menu.png);
}

h3 {
  color: white;
  font-size: 35px;
}
.left-bord {
  border-left: solid 5px rgb(90, 0, 90);
}
#contact {
  background-color: rgba(0, 0, 0);
  width: 100%;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid purple;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.button1:hover {
  background-color: purple;
  color: white;
}
input {
  border: 2px solid purple !important;
  border-radius: 50px !important;
  text-align: center;
}
label {
  text-decoration: none !important;
  color: white;
  font-size: large;
}

#footer {
  background-color: rgba(255, 255, 255, 0.18);
  padding: 0;
  width: 100%;
}
h3 {
  margin: 0%;
}
