.navbar-brand {
  padding: 0%;
}

.nav-item {
  justify-items: right !important;
}
#navbarNav {
  justify-content: right;
}
.bg-light {
  background-color: #191919 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: salmon;
}
body {
  background-color: black;
}
h1 {
  font-size: 100px;
  color: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 180, 253, 1) 50%,
    rgba(69, 122, 252, 1) 100%
  );
  text-align: center;
  color: white;
}
.rounded {
  width: 500px;
  height: 500px;
  border-radius: 100% !important;
}
.col {
  text-align: left;
  font-weight: 400 !important;
  font-size: x-large !important;
  color: white;
  width: 100%;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}
#landing {
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(43, 29, 253, 1) 50%,
    rgba(69, 122, 252, 1) 100%
  );
  padding-top: 50px;
}
.nav-item:hover {
  color: salmon;
}
nav {
  position: sticky !important;
  top: 0%;
  width: 100%;
  z-index: 5;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.description {
  color: white;
}
#WE {
  background-color: rgb(38, 37, 37);
}
.Circle {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.work {
  border-right: white 5px solid;
}
